    body {
        padding-top: 12px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px 8px;
        align-items: center;
    }

    .select-menu {
        width: 100%;
        padding: 0;
    }

    hr {
        border: none;
        border-top: 1px solid var(--figma-color-border);
    }

    .section-title {
        grid-column: 1 / -1;
        margin-bottom: 4px;
    }

    .result-value {
        font-weight: bold;
        text-align: right;
        font-size: var(--font-size-large);
    }


    .checkboxes {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 4px;
    }

    section {
        padding: 4px 16px 8px 8px;
    }

    .button-container {

        padding: 4px 16px 16px 16px;
    }

    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: fixed;
        align-items: center;
        justify-content: flex-start;
        bottom: 0;
        left: 0;
        padding: 8px;
        border-top: 1px solid var(--color-border);
        margin-right: auto;
        gap: 4px;
        background: var(--color-bg);
    }